.userHead {
    background: pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #5453e0;
}

.userAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.goBack {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    margin-top: 20px;
}

.goBack img {
    width: 25px;
}

.goBack span {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
}

.goBack span::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #0077ff;
    border-radius: 10px;
}

.clientsWrap {
    background: #1d1d1d;
    margin-top: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height: calc(100vh - 172px);
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.actionBtn {
    background: #262626;
    outline: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;      
}

.actionBtn:hover {
    background: #333333; 
}

.actionBtn span {
    font-weight: bold;
    margin-left: 10px;
}

.actionBtn img {
    width: 18px;
}

.End {
    padding: 13px;
    color: red;
}

.topic {
    font-size: 18px;
    font-weight: bold;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientsList {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.client h4 {
    font-weight: bold;
     margin-top: 10px;
}

.micBtn {
    background: #212121;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.micBtn img {
    width: 30px;
}

@media only screen and (max-width: 767px) {
    .goBack span {
        font-size: 12px;
    }

    .goBack img {
        width: 15%;
    }

    .topic {
        font-size: 14px;
    }

    .actionBtn span {
        font-size: 10px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .actions {
        margin-top: 10px;
    }

    .actions .actionBtn {
        font-size: 10px;
    }

    .clientsWrap {
        margin-top: 53px;
    }

    .clientsList .client .userHead {
        width: 70px;
        height: 70px;
    }

    .micBtn {
        width: 22px;
        height: 22px;
    }
}