.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.text {
    font-size: 22px;
    line-height: 1.6;
    color: #c4c5c5;
    text-align: center;
}

.hasInvite {
    color: #0077ff;
    margin-right: 10px;
}