.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton{ 
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logoutButton > span{ 
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

.logoutButton > img{ 
   width: 40px;
   height: 40px;
}

.navRight {
    display: flex;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .navbar span {
        font-size: 12px;
        padding-top: 5px;
    }   

    .navbar link img {
        width: 10px;
    }
    
    .navbar .navRight img {
        width: 30px;
        height: 30px;
    }

    .navRight h3 {
        font-size: 12px;
    }

    .logoutButton span {
        display: none;
    }

    .logoutButton img {
        width: 25px;
        height: 25px;
        margin-top: -5px;
    }
}
